h1{
    color: transparent;
    font-size: 200px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    font-weight: bold;
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%,
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
}
